In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import os

In [4]:
os.chdir("Downloads")

In [5]:
df=pd.read_csv("Customer Purchase.csv")

In [6]:
df

    Customer ID  Age  Gender Education   Review Purchased
0          1021   30  Female    School  Average        No
1          1022   68  Female        UG     Poor        No
2          1023   70  Female        PG     Good        No
3          1024   72  Female        PG     Good        No
4          1025   16  Female        UG  Average        No
5          1026   31  Female    School  Average       Yes
6          1027   18    Male    School     Good        No
7          1028   60  Female    School     Poor       Yes
8          1029   65  Female        UG  Average        No
9          1030   74    Male        UG     Good       Yes
10         1031   98  Female        UG     Good       Yes
11         1032   74    Male        UG     Good       Yes
12         1033   51    Male    School     Poor        No
13         1034   57  Female    School  Average        No
14         1035   15    Male        PG     Poor       Yes
15         1036   75    Male        UG     Poor        No
16         1037   59    Male        UG     Poor       Yes
17         1038   22  Female        UG     Poor       Yes
18         1039   19    Male    School     Good        No
19         1040   97    Male        PG     Poor       Yes
20         1041   57  Female    School  Average       Yes
21         1042   32    Male        PG  Average        No
22         1043   18  Female        PG     Poor       Yes
23         1044   96  Female    School     Good        No
24         1045   16  Female        PG  Average       Yes
25         1046   57  Female    School     Good        No
26         1047   53  Female        PG     Poor        No
27         1048   69  Female        PG     Poor        No
28         1049   48    Male    School     Poor        No
29         1050   83  Female        UG  Average       Yes
30         1051   73    Male        UG  Average        No
31         1052   22  Female    School     Poor       Yes
32         1053   92    Male        UG  Average       Yes
33         1054   89  Female        PG     Good       Yes
34         1055   86    Male    School  Average        No
35         1056   74    Male    School     Poor       Yes
36         1057   34  Female        UG     Good       Yes
37         1058   94    Male        PG  Average       Yes
38         1059   45  Female    School     Good        No
39         1060   76    Male        PG     Poor        No
40         1061   39    Male    School     Good        No
41         1062   23    Male        PG     Good       Yes
42         1063   30  Female        PG     Good       Yes
43         1064   27    Male        PG     Poor        No
44         1065   77  Female        UG  Average        No
45         1066   61    Male        PG     Poor       Yes
46         1067   64  Female        PG     Poor        No
47         1068   38  Female        PG     Good       Yes
48         1069   39  Female        UG     Good       Yes
49         1070   25  Female        UG     Good        No

In [7]:
df.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [8]:
df.shape

(50, 6)

In [9]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [13]:
x = df[['Gender','Education','Review']]

In [14]:
x

    Gender Education   Review
0   Female    School  Average
1   Female        UG     Poor
2   Female        PG     Good
3   Female        PG     Good
4   Female        UG  Average
5   Female    School  Average
6     Male    School     Good
7   Female    School     Poor
8   Female        UG  Average
9     Male        UG     Good
10  Female        UG     Good
11    Male        UG     Good
12    Male    School     Poor
13  Female    School  Average
14    Male        PG     Poor
15    Male        UG     Poor
16    Male        UG     Poor
17  Female        UG     Poor
18    Male    School     Good
19    Male        PG     Poor
20  Female    School  Average
21    Male        PG  Average
22  Female        PG     Poor
23  Female    School     Good
24  Female        PG  Average
25  Female    School     Good
26  Female        PG     Poor
27  Female        PG     Poor
28    Male    School     Poor
29  Female        UG  Average
30    Male        UG  Average
31  Female    School     Poor
32    Male        UG  Average
33  Female        PG     Good
34    Male    School  Average
35    Male    School     Poor
36  Female        UG     Good
37    Male        PG  Average
38  Female    School     Good
39    Male        PG     Poor
40    Male    School     Good
41    Male        PG     Good
42  Female        PG     Good
43    Male        PG     Poor
44  Female        UG  Average
45    Male        PG     Poor
46  Female        PG     Poor
47  Female        PG     Good
48  Female        UG     Good
49  Female        UG     Good

In [15]:
#encoding categorical features as an integer array

In [17]:
from sklearn.preprocessing import OrdinalEncoder

In [18]:
oe=OrdinalEncoder()

In [19]:
x=oe.fit_transform(x)

In [20]:
x

array([[0., 1., 0.],
       [0., 2., 2.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 2., 0.],
       [0., 1., 0.],
       [1., 1., 1.],
       [0., 1., 2.],
       [0., 2., 0.],
       [1., 2., 1.],
       [0., 2., 1.],
       [1., 2., 1.],
       [1., 1., 2.],
       [0., 1., 0.],
       [1., 0., 2.],
       [1., 2., 2.],
       [1., 2., 2.],
       [0., 2., 2.],
       [1., 1., 1.],
       [1., 0., 2.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 2.],
       [0., 1., 1.],
       [0., 0., 0.],
       [0., 1., 1.],
       [0., 0., 2.],
       [0., 0., 2.],
       [1., 1., 2.],
       [0., 2., 0.],
       [1., 2., 0.],
       [0., 1., 2.],
       [1., 2., 0.],
       [0., 0., 1.],
       [1., 1., 0.],
       [1., 1., 2.],
       [0., 2., 1.],
       [1., 0., 0.],
       [0., 1., 1.],
       [1., 0., 2.],
       [1., 1., 1.],
       [1., 0., 1.],
       [0., 0., 1.],
       [1., 0., 2.],
       [0., 2., 0.],
       [1., 0., 2.],
       [0., 0., 2.],
       [0., 0., 1.],
       [0., 2., 1.],
       [0., 2., 1.]])

In [21]:
oe.categories_

[array(['Female', 'Male'], dtype=object),
 array(['PG', 'School', 'UG'], dtype=object),
 array(['Average', 'Good', 'Poor'], dtype=object)]

In [22]:
oe.inverse_transform([[0,0,0]])

array([['Female', 'PG', 'Average']], dtype=object)

In [23]:
oe.inverse_transform([[1,1,1]])

array([['Male', 'School', 'Good']], dtype=object)

In [25]:
oe.inverse_transform([[1,2,2]])

array([['Male', 'UG', 'Poor']], dtype=object)

In [26]:
x=df[['Gender','Education','Review']]

In [27]:
oe=OrdinalEncoder(categories=[['Male','Female'],['School','UG','PG'],['Poor','Average','Good']])

In [28]:
x=oe.fit_transform(x)

In [30]:
oe.categories_

[array(['Male', 'Female'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object),
 array(['Poor', 'Average', 'Good'], dtype=object)]